<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      <h1>CodeBusters Movie Database</h1>


    <main>
      <%= yield %>
    </main>


    <footer>
      <nav>
        <a href="/index"> Back to Movie Search </a>
      </nav>
    </footer>

  </body>
</html>
