
  <form action="/omdb_search" method="get">
    <input type="text" name="name" placeholder = "Search for Movie">
    <button type="submit"> Movie Search </button>
  </form>
  <form action="/movie" method="get">
    <input type="text" name="name" placeholder = "Enter Movie Title">
    <button type="submit"> Find Movie </button>
  </form>
