<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body style="background-color: <%= randColor %>">

    <h1>Emergency Compliment</h1>

    <form action="/" >
      <button> Compliment Me </button>
    </form>

    <div class="compliment">
      <h3><%= randCompliment %></h3>
    </div>


  </body>
</html>
