html {
  box-sizing: border-box;
}
body {
  background-repeat: repeat-x;
  background-color: lightgrey;
  font-family: arial;
}
.container {
  margin: auto;
  width: 50%;
}
.logo {
  margin: auto;
  width: 40%
}
aside {

}
li {
  list-style-type: none;
  text-decoration: none;
}
section {
background-color: white;
padding: 26px;
}
.ads {
display: block;
}
.ecard1 a {
  color: red;
  text-decoration: none;

}
.ecard2 a {
  color: red;
  text-decoration: none;
}
footer {
  margin: auto;
  width: 12%;
  padding: 15px;
}
