.tweetbox {
 font-family: 'Helvetica Neue', sans-serif;

}

.tweetbox__textarea {
  width: 400px;
  height: 50px;

}

.tweetbox__footer {


}

.tweetbox__button {
  background-color: #4AB3F4;

}

.tweetbox__span {


}

.tweetbox__span--warning {

  color: red;
}
